<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="IMSTUDENTDBConn" connectionString="Data Source=LAPTOP-B5H18544\MSSQLSERVER2;Initial Catalog=IMSTUDENTDB;Integrated Security=False;User ID=sa;Password=test12345678;Connect Timeout=15;TrustServerCertificate=False" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.5"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="UserPublic/Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
