<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="IMSTUDENTDBConn" connectionString="Data Source=LAPTOP-3B6IQ900\SQLEXPRESS;Initial Catalog=IMSTUDENTDB;Integrated Security=False;User ID=sa;Password=1234;Connect Timeout=15;TrustServerCertificate=False" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>