<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="IMSTUDENTDBConn" connectionString="Data Source=DESKTOP-TJKFU8T\SQLEXPRESS;Initial Catalog=IMSTUDENTDB;Integrated Security=False;User ID=sa;Password=1234;Connect Timeout=15;TrustServerCertificate=False" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.5"/>
  </system.web>
</configuration>