.bluebar {
    background-color: rgb(30,82,177);
    margin: 50px 0;
    text-align: center;
    width: 100%;
    height: 300px;
    /*display: flex;*/
    position: relative;
    align-items: center;
}
    .bluebar .textWrap {
        color: white;
        font-size: 30px;
        text-align: center;
        width: 100%;
        /*margin-top: 50px;*/
        /*margin: 50px 0 30px 0;*/
        position: relative;
    }
    .bluebar .wrap {
        position: relative;
        align-content: center;
        width: 100%;
    }

    .bluebar .box {
        font-size: 16px;
        height: 34px;
        background-color: rgb(30,82,177);
        border: 2px white solid;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: white;
        elevation: 0;
        width: 400px;
        position: relative;
    }

    .bluebar .button {
        font-size: 16px;
        height: 34px;
        border-color: white;
        width: 150px;
        background-color: white;
        color: rgb(30,82,177);
        border: 0;
        elevation: 0;
        position: relative;
    }
.bottom {
    width: 30%;
    /*margin: 10px 10px 10px 10px;*/
    display: flex;
    justify-content: space-around;
}
.HWContent {
    width: 50%;
    height: 350px;
    background-color: #F7F7F7;
    font-family: 'Microsoft JhengHei UI'
}
.textbox {
    border: 1px solid grey;
    border-radius: 10px;
}