body {
    background-color: #F0F0F0;
    font-family: 'Microsoft JhengHei';
}

.blueBtmLine {
    border: none;
    border-bottom: 1px solid #4A4AFF;
    font-family: 'Microsoft JhengHei';
}

.regisAre {
    padding-top: 80px;
    width: 600px;
    height: 800px;
    font-family: 'Microsoft JhengHei';
    line-height: 20px;
}

#labJoinus {
    color: darkslateblue;
}

radioButton {
    padding-right: 300px;
}

#btnSubmitRegister {
    background-color: midnightblue;
    color: white;
    font-family: 'Microsoft JhengHei';
}

.spaced input[type="radio"] {
    margin-top: 10px;
}

#loginLeft {
    position: relative;
    float: left;
    width: 50%;
    height: 600px;
    line-height: 50px;
    padding: 20px;
    padding-left: 100px;
}

#loginRight {
    position: relative;
    float: right;
    width: 50%;
    height: 600px;
    line-height: 30px;
    padding: 20px;
    padding-right: 150px;
}

.input_text:focus, input.input_text_focus {
    border-color: #646464;
    background-color: #ffffc0;
}

#btnLogin {
    background-color: midnightblue;
    color: white;
    font-family: 'Microsoft JhengHei';
    text-align: center;
}

#loginArea {
    position: absolute;
    width: 100%;
}

.loginLabel {
    color: midnightblue;
    font-family: 'Microsoft JhengHei';
}

.loginBtn {
    color: midnightblue;
    font-family: 'Microsoft JhengHei';
    border: none;
}

#applyTitle .schoolName #applyForm {
    font-family: 'Microsoft JhengHei';
}

#uploadBtn {
    background-color: cornflowerblue;
    color: white;
    font-family: 'Microsoft JhengHei';
    text-align: center;
}

.applySchoolBtn {
    font-family: 'Microsoft JhengHei';
    border-radius: 25px 25px 25px 25px;
}

.schoolDetailsArea {
    position: absolute;
    width: 100%;
}

.schoolIntro {
    position: relative;
    width: 90%;
    height:350px;
    padding-top: 50px;
    margin: auto;
}

.schoolIntro .leftIntro {
    position: relative;
    float: left;
    width:50%;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    border: solid;
    border-color: lightgrey;
}

.schoolIntro .leftIntro .IntroConent {
    position: relative;
    width: 100%;
    height: 85%;
    font-size: 20px;
    text-align: left;
    color: dimgray;
}

.schoolIntro .leftIntro .necessaryCredits {
    position: relative;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 15%;
    font-size: 20px;
    text-align: right;
    color: dimgray;
}

.schoolIntro .rightIntro {
    position: relative;
    float: right;
    display: flex;
    width: 50%;
    height: 300px;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: lightgrey;
}

#schoolImg {
    width: 100%;
    height: 100%;
}

.teacherIntro {
    position: relative;
    width: 90%;
    padding-top: 30px;
    margin: auto;
}

.courseInfo {
    position: relative;
    width: 90%;
    height: 350px;
    padding-top: 50px;
    margin: auto;
}