.blueBtmLine {
    border: none;
    border-bottom: 1px solid #4A4AFF;
    font-family: 'Microsoft JhengHei';
}

.regisAre {
    padding-top: 80px;
    width: 600px;
    height: 800px;
    font-family: 'Microsoft JhengHei';
    line-height: 20px;
}

#labJoinus {
    color: darkslateblue;
}

radioButton {
    padding-right: 300px;
}

#btnSubmitRegister {
    background-color: midnightblue;
    color: white;
    font-family: 'Microsoft JhengHei';
}

.spaced input[type="radio"] {
    margin-top: 10px;
}

#loginLeft {
    position: relative;
    float: left;
    width: 50%;
    height: 600px;
    line-height: 50px;
    padding: 20px;
    padding-left: 100px;
}

#loginRight {
    position: relative;
    float: right;
    width: 50%;
    height: 600px;
    line-height: 30px;
    padding: 20px;
    padding-right: 150px;
}

.input_text:focus, input.input_text_focus {
    border-color: #646464;
    background-color: #ffffc0;
}

#btnLogin {
    background-color: midnightblue;
    color: white;
    font-family: 'Microsoft JhengHei';
    text-align: center;
}

#loginArea {
    position: absolute;
    width: 100%;
}

.loginLabel {
    color: midnightblue;
    font-family: 'Microsoft JhengHei';
}

.loginBtn {
    color: midnightblue;
    font-family: 'Microsoft JhengHei';
    border: none;
}

#applyTitle .schoolName #applyForm {
    font-family: 'Microsoft JhengHei';
}

#uploadBtn {
    background-color: cornflowerblue;
    color: white;
    font-family: 'Microsoft JhengHei';
    text-align: center;
}

.applySchoolBtn {
    font-family: 'Microsoft JhengHei';
    border-radius: 25px 25px 25px 25px;
}