body{
    background-color:rgb(247,247,247);
    font-family:'Microsoft JhengHei';
}
.bar {
    color: rgb(147,167,206);
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    position:relative;
}
.rightText {
    position: absolute;
    right: 30px;
    bottom: 10px;
}
.bar a {
     color: rgb(147,167,206);
     text-decoration: none;
     display: inline-block;
     text-align: right;
     margin:0 10px 
}
.bar a:hover{
     color:black;
     transition-duration:0.5s;
}
.block {
    position: relative;
    margin: 75px 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 40px 40px;
    height: 200px;
    background-color: white;
    display:flex;
}
.block .textWrap{
    color:rgb(123,123,123);
    font-size:30px;
    text-align: left;
    width:60%;
    background-color: white;
}
.block .wrap{
   position:relative;
   width:13%;
   float:right;
   height:50px;

   text-align:center;
}

.block .wrap .button1 {
   background-color: rgb(0,143,196);
   text-align:left;
   color:white;
   width:200px;
   height:40px;
   padding:13px 10px;
   border-radius:5px;
   margin:0 0 10px 0;
   font-weight:bold;
   border: none;
}
.block .wrap .button2 {
     background-color: rgb(241,241,241);
     text-align: left;
     color: rgb(48,53,57);
     width: 200px;
     height: 40px;
     padding: 13px 10px;
     border-radius: 5px;
     font-weight:bold;
     border: none;

}
.button1 img{
    float:right;
    height:20px;
    width:20px;
}
.button2 img {
    float: right;
    height: 20px;
    width: 20px;
}
.footer{
    width: 100%;
    height: auto;
    background-color:white;

}
.footer .wrap {
    display: flex;
    
}
    .footer .wrap img {
        margin:10px auto 10px auto;
    }
