body {
    background-color: #F0F0F0;
    font-family: 'Microsoft JhengHei';
}

.bar {
    color: #F0F0F0;
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    position: relative;
}

.rightText {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.bar a {
    color: rgb(147,167,206);
    text-decoration: none;
    display: inline-block;
    text-align: right;
    margin: 0 10px
}

    .bar a:hover {
        color: black;
        transition-duration: 0.5s;
    }

.block {
    position: relative;
    margin: 75px 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 40px 40px;
    height: 200px;
    background-color: white;
    display: flex;
}

    .block .textWrap {
        color: rgb(123,123,123);
        font-size: 30px;
        text-align: left;
        width: 60%;
        background-color: white;
    }

    .block .wrap {
        position: relative;
        width: 13%;
        float: right;
        height: 50px;
        text-align: center;
    }

        .block .wrap .button1 {
            background-color: rgb(0,143,196);
            text-align: left;
            color: white;
            width: 200px;
            height: 40px;
            padding: 13px 10px;
            border-radius: 5px;
            margin: 0 0 10px 0;
            font-weight: bold;
            border: none;
        }

        .block .wrap .button2 {
            background-color: rgb(241,241,241);
            text-align: left;
            color: rgb(48,53,57);
            width: 200px;
            height: 40px;
            padding: 13px 10px;
            border-radius: 5px;
            font-weight: bold;
            border: none;
        }

.button1 img {
    float: right;
    height: 20px;
    width: 20px;
}

.button2 img {
    float: right;
    height: 20px;
    width: 20px;
}

.footer {
    width: 100%;
    height: auto;
    background-color: white;
}

    .footer .wrap {
        display: flex;
    }

        .footer .wrap img {
            margin: 10px auto 10px auto;
        }

.area {
    width: 100%;
    height: 90vh;
    background-color: white;
    color: rgb(147,167,206);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .area .wrapper {
        width: 20%;
        height: 85%;
        background-color: white;
        margin: 30px 10px 0 150px;
    }

    .area .setting {
        width: 60%;
        height: 85%;
        background-color: white;
        margin: 30px 20px 0 50px;
        color: rgb(71,109,141);
        font-size: 20px;
    }

.wrapper .photoItems {
    width: 100%;
    height: 70%;
    background-color: white;
    border-width: 2px;
    border-color: rgb(240,240,241);
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    align-items: center;
}

.photoItems img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 0 10px 0;
}

.wrapper .certification {
    width: 100%;
    height: 28%;
    margin: 20px 0 0 0;
    background-color: white;
    border-width: 2px;
    border-color: rgb(240,240,241);
    border-style: solid;
    color: rgb(71,109,141);
    font-size: 20px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
}

.myName {
    color: rgb(41,79,116);
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.nameSub {
    color: rgb(14,76,113);
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.school {
    color: rgb(41,79,116);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0 0 0;
}

.money {
    font-size: 15px;
    color: black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 10px 0 0 0;
    padding: 5px 20px 5px 20px;
}

.certificationLabel {
    color: rgb(41,79,116);
    font-size: 25px;
    margin: 3px 5px 0 0;
    float: right;
    align-self: flex-end;
}

.settingFonts {
    color: rgb(41,79,116);
    font-weight: bold;
    font-size: 40px;
}

.emailFonts {
    margin: 0 0 0 20px;
}

.updateBtn {
    background: rgb(24,54,104);
    color: white;
    width: 220px;
}

.schoolBody {
    width: 100%;
    height: 120vh;
    background-color: white;
    color: rgb(147,167,206);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.schoolTable {
    width: 60%;
    height: 90%;
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.schoolLeft {
    width: 30%;
    height: 100%;
    background-color: white;
    border-width: 2px;
    border-color: rgb(240,240,241);
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.schoolRight {
    width: 70%;
    height: 100%;
    background-color: white;
    border-width: 2px;
    border-color: rgb(240,240,241);
    border-style: solid;
    display: flex;
    flex-direction: column;
}

======= > > > > > > > 491ba81c291e6a5cc684239a8741a0edb4a1dea9

.photoItems .imgCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 0 10px 0;
    <<<<<<< HEAD
}

.schoolFonts {
    color: rgb(106,143,173);
    font-size: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

.schoolItems {
    display: inline-block;
}

.schoolImg {
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.schoolTitle {
    color: rgb(75,119,153);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
}

.schoolItems .schoolImg {
    margin-left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 0px;
}

.schoolItems .schoolTitle {
    color: rgb(75,119,153);
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 5px;
}

.accordionFonts {
    font-size: 15px;
    color: rgb(75,119,153);
}

.accordion-body {
    font-size: 15px;
    color: black;
}

.schoolLeft .items {
    border-width: 0.5px;
    border-color: rgb(240,240,241);
    border-style: solid;
}

.items .itemsFont {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(75,119,153);

}

.items .itemsProcess {
    margin: 20px;
    font-size: 20px;
    color: black;
}